body {
    background: url('./Backgrounds/Beachfront.jpg');
    background-size: 1280px 720px;
    width: 1280px;
    height: 720px;
    background-repeat: no-repeat;  
}
/* For landing page assets */
#landingPage{
    position: absolute;
    left: 13%;
    top: 3%;
    text-align: center;
}
#landingPage h1{
    font-size: 96px;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 5px 5px black;
    color: darkorange;
    margin: 20px 0;
}
#landingPage h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: white;
    text-shadow: 3px 2px black;
}
.choosePlayers {
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
    margin: 0 5px 40px 0;
}
.choosePlayers:hover {
    background-size: 100% 4px, auto;
}
.chosen{
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 100% 100%, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .6s ease-out;
    margin: 0 5px 40px 0;
}
.startOrHow {
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 12px;
    border-radius: 13px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
    margin: 50px 40px 0px 0;
}
.startOrHow:hover {
    background-size: 100% 8px, auto;
}
.startOrHowChosen {
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 100% 100%, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .6s ease-out;
    margin: 50px 40px 0px 0;
}
#helpBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    left: 360px;
    top: 150px;
    z-index: 2;
    height: 300px;
    width: 500px;
    padding: 20px;
    background:dodgerblue;
    border-radius: 15px;
    box-shadow:  inset 5px 5px 7px rgba(255,255,255,0.3), inset -5px -5px 7px rgba(255,255,255,0.3);
    background: #283869;
}
#helpText {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px black;
    height: 200px;
    width: 450px; 
    justify-self: center;
    background-color: rgba(0,0,0,0.1);
    display: block;
    padding: 20px;
    border-radius: 20px;
    margin: 0 30px;
}
#helpBox button {
    justify-content: space-around;
    height: 30px;
    width: 80px;
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
    margin: 0 30px;
}
#helpBox button:hover {
    background-size: 100% 3px, auto;
}
#penguinPreview{
    height: 100px;
}
#penguinPreview img{
    height: 100%;
}
/* For gameboard assets */
/* Gameboard: Utility List */
#utilityList {
    margin-top: 1%;
    margin-left: 1%;
    padding-left: 20px;
    height: 90px;
    width: 94%;
    border-radius: 15px;
    box-shadow:  inset 4px 4px 12px rgba(255,255,255,0.3), inset -4px 12px 12px rgba(255,255,255,0.3);
    background: #283869;
}
#utilityList .gameInfo{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 5px 20px 0;
    border-radius: 5px;
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    border: black solid 2px;
    color: black;
    background-color: yellow;
   
}
#utilityList .gameInfo:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: inset 10px 5px 5px rgba(0,0,0,0.3);

}
#announcer{ 
    width: 260px;
    height: 50px;
    font-size: 14px;
}
#airSupply {
    width: 130px;
    height: 50px;
    font-size: 14px;
}
#utilityList button{
    display: inline-block;
    height: 40px;
    width: 130px;
    margin: 0px 0px 2px 0;
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
}
#utilityList button:hover {
    background-size: 100% 4px, auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 120px;
    z-index: 1;
    
}
.dropdown:hover .dropdown-content {
    display: block;
    
}
/* Gameboard: Treasure and Path */
#submarine {
    background: url('./Backgrounds/submarine.png');
    background-size: 62% auto;
    background-repeat: no-repeat; 
    background-position: 37px 46px;
    opacity: 20;
    height: 240px;
    width: 300px;
    position: absolute;
}
.grid {
display: inline-grid;
width: 600px;
height: 140px;
grid-template-columns: repeat(7,100px)
}
#grid1 {
    position: absolute;
    left: 300px;
    top: 140px;
}
#grid2 {
    position: absolute;
    left: 420px;
    top: 280px;
}
#grid3 {
    position: absolute;
    left: 230px;
    top: 420px;
}
#grid4 {
    position: absolute;
    left: 370px;
    top: 560px;
}
.pathTile{
    width: 100px;
    height: 140px;
    background: url('./Backgrounds/platform.png');
    background-repeat: no-repeat;
    background-size: 90px 50px;
    background-position-y: bottom;
}
.oxygenTank{
    width: 100px;
    height: 140px;
    background: url('./Backgrounds/Oxygen.png');
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-position-x: 28px;
    background-position-y: 90px;
}
.treasure{
    display: block;
    width: auto;
    height: 28px;
    position: absolute;
    transform: translateX(30px);
    top: 80px;
}
.penguins {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: auto 70px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}
.penguins img{
    width: 26px;
    height: auto;
}
audio{
    display: inline-flex;
    position: sticky;
    position: -webkit-sticky;
    /* left: 2%; */
    top: 88%;
    width: 200px;
}
