body {
    background: url('/Backgrounds/Beachfront.jpg');
    background-size: 1280px 720px;
    width: 1280px;
    height: 720px;
    background-repeat: no-repeat;   
}
/* For landing page assets */
#landingPage{
    position: absolute;
    left: 13%;
    top: 3%;
    text-align: center;
}
#landingPage h1{
    font-size: 96px;
    font-family: 'Caveat Brush', cursive;
    text-shadow: 5px 5px black;
    color: darkorange;
    margin: 20px 0;
}
#landingPage h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    color: white;
    text-shadow: 3px 2px black;
}
.choosePlayers {
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
    margin: 0 5px 40px 0;
}
.choosePlayers:hover {
    background-size: 100% 4px, auto;
}
.chosen{
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 100% 100%, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .6s ease-out;
    margin: 0 5px 40px 0;
}
.startOrHow {
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
    margin: 50px 40px 0px 0;
}
.startOrHow:hover {
    background-size: 100% 8px, auto;
}
.startOrHowChosen {
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 100% 100%, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .6s ease-out;
    margin: 50px 40px 0px 0;
}
#penguinPreview{
    height: 100px;
}
#penguinPreview img{
    height: 100%;
}
/* For gameboard assets */
.gameBoard{
    background: black;
}
/* Gameboard: Utility List */
#utilityList {
    margin-top: 2%;
    margin-left: 2%;
    padding-left: 40px;
    height: 90px;
    width: 90%;
    background-color: grey;
}
#utilityList div{
    display: inline-block;
    line-height: 50px;
    margin: 20px 30px 10px 0;
    border-radius: 5px;
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    border: black solid 2px;
    color: black;
    background-color: yellow;
    width: 20%;
    height: 50px;
    text-align: center;
}
#utilityList button{
    display: inline-block;
    width: 140px;
    margin: 10px 20px 10px 0;
    font: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    border: black solid 2px;
    color: black;
    background-image: linear-gradient(dodgerblue, dodgerblue), linear-gradient(darkorange, orange);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
}
#utilityList button:hover {
    background-size: 100% 4px, auto;
}
/* Gameboard: Treasure and Path */
#submarine {
    background: url('/Backgrounds/submarine.png');
    background-size: 42% auto;
    background-repeat: no-repeat; 
    background-position: 65px 80px;
    opacity: 20;
    height: 240px;
    width: 300px;
    position: absolute;
}
.pathTile{
    text-align: center;
}
.pathTile img{ /* will be div */
    position: relative;
    height: 100%;
    right: 10px;
}
.grid {
display: inline-grid;
width: 600px;
height: 140px;
grid-template-columns: repeat(6,100px)
}
#grid1 {
    position: absolute;
    left: 300px;
    top: 140px;
}
#grid2 {
    position: absolute;
    left: 420px;
    top: 280px;
}
#grid3 {
    position: absolute;
    left: 230px;
    top: 420px;
}
#grid4 {
    position: absolute;
    left: 370px;
    top: 560px;
}
.grid .treasure{
    width: 35px;
    height: 28px;
    position: relative;
    top: 50px;
}
.grid div{
    display: inline;
    width: 100px;
    height: 140px;
    /* border: black 3px solid; */
    text-align: center;
    line-height: 100px;
    background: url('/Backgrounds/platform.png');
    background-repeat: no-repeat;
    background-size: 90px 50px;
    background-position-y: bottom;
}
.penguins {
    display: inline-block;
    border: transparent 2px solid;
    width: 80px;
    height: 100px;
    background-size: auto 70px;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
/* .penguins img{

} */